@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "جزئیات - سطح دسترسی";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";

}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
        var str1 = '<li>@Html.ActionLink(FarsiLanguage.FarsiLanguage._PermitionManage, "Index", "RolesAdministrator", new { area = "Administrator" }, null)</li>';
    var str2 = '<li>@Html.ActionLink(FarsiLanguage.FarsiLanguage._Detail, "Details", "RolesAdministrator", new { area = "Administrator" }, null)</li>';
    $('.crumbs').append(str1);
    $('.crumbs').append(str2);
</script>
    <fieldset dir="rtl">
        <legend>فرم جزئیات سطح دسترسی</legend>
        <div class="divider blue darken-4"></div>
        <div class="section">
            <div class="row col m12 s12">
                <div class="col m10 s6" style="font-size:18px;color:#034ea1">
                    @Html.DisplayFor(model => model.Name)
                </div>
                <div class="col m2 s6 " style="font-family:'B Koodak';font-size:15px">
                    <label>سطح دسترسی :</label>

                </div>
</div>
            <div class="divider blue darken-4"></div>
            <div class="section">
                <div class="row col m12 s12">
                    <div class="col m10 s6" style="font-size:18px;color:#034ea1">
                        @if (ViewBag.UserCount == 0)
                        {
                            <hr class="alert-info"/>
                            <p>برای این نقش کاربری یافت نگردید.</p>
                        }
                        <br />
                        <br />
                        @foreach (var item in ViewBag.Users)
                        {

                            <hr />
                            @item.UserName

                        }
                    </div>
                    <div class="col m2 s6 " style="font-family:'B Koodak';font-size:15px">
                        @Html.Label("لیست کاربران دارای این سطح")

                    </div>
                </div>
                </div>
             
            </div>

</fieldset>
  
<div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large pulse blue darken-4">
        <i class="material-icons">menu</i>
    </a>
    <ul>
        <li><a href="@Url.Action("Index")" class="btn tooltipped btn-floating blue darken-1" data-position="top" data-delay="50" data-tooltip="لیست"><i class="material-icons">arrow_back</i></a></li>
    </ul>
</div>



