@model General.Models.ChangePasswordViewModel2
@{
    ViewBag.Title = "ChangePassword2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="container white  col-md-12 " style="width:400px;border:1px solid grey;border-radius:5px;margin-top:40px">

        <fieldset dir="rtl" style="margin-bottom:10px">
            <legend>اطلاعات ورود</legend>
            <div class="row" style="margin-bottom:0px">
                <section id="loginForm">
                    @using (Html.BeginForm("ChangePassword2", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", UserName = Session["PID"] }))
                    {

                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                       // @Html.HiddenFor(u => u.UserName);

                        <div class="row" style="margin-bottom:0px">
                            <img src="~/Images/key-flat.png" style="width:100px;margin-bottom:20px;margin-right:140px" alt="User Image" class="responsive-img" />
                        </div>
                        <div class="row" style="margin-bottom:0px">

                            <div class="row" style="margin-bottom:0px">

                                <div class=" col m6 s6 push-m3 push-s3">


                                    @Html.TextBoxFor(model => model.UserName, new { @placeholder = "نام کاربری", @class = " text-center" })
                                </div>
                            </div>
                            <div class="col m12 s6 row right-align pull-m3">
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger " })
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:0px">

                            <div class="row" style="margin-bottom:0px">

                                <div class=" col m6 s6 push-m3 push-s3">


                                    @Html.PasswordFor(model => model.OldPassword, new { @placeholder = "رمز عبور قدیم", @class = " text-center" })
                                </div>
                            </div>
                            <div class="col m12 s6 row right-align pull-m3">
                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger " })
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:0px">
                            <div class="row " style="margin-bottom:0px">
                                <div class=" col m6 s6 push-m3 push-s3">

                                    @Html.PasswordFor(model => model.NewPassword, new { @placeholder = FarsiLanguage.FarsiLanguage._Password, @class = " text-center" })
                                </div>
                            </div>

                            <div class="col m12 s6 row right-align pull-m3">
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:0px">
                            <div class="row " style="margin-bottom:0px">
                                <div class=" col m6 s6 push-m3 push-s3">

                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @placeholder = FarsiLanguage.FarsiLanguage._Password, @class = " text-center" })
                                </div>
                            </div>

                            <div class="col m12 s6 row right-align pull-m3">
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <hr style="margin-bottom:0px" />

                        <div class="section" style="padding-top:0px;padding-bottom:0px">
                            <div class="row center" style="margin-bottom:0px">
                                <div class="input-field col m12 s12">
                                    <button class="btn btn-large waves-effect waves-light blue" type="submit">
                                        @FarsiLanguage.FarsiLanguage._Login
                                        <i class="material-icons left">lock_open</i>
                                </div>
                            </div>
                        </div>
                    }
                </section>
            </div>
            <div class="col-md-4">
                <section id="socialLoginForm">
                    @*//   @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
                </section>
            </div>
        </fieldset>
    </div>
</div>
