@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("UserPage", "UsersAdmin", new { area = "Administrator", Id = Session["Id"] })"><i class="material-icons right" style="font-size:20px;margin-right:25px">person</i>@FarsiLanguage.FarsiLanguage._UserMainPage</a></li>


        <li ><a href="javascript:document.getElementById('logoutForm').submit()"><i class="material-icons right" style="font-size:20px;margin-right:15px">input</i>خروج</a></li>

    </ul>
    }
}

else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        <li><a href="@Url.Action("Login", "Account", routeValues: null)"><i class="material-icons right" style="font-size:20px">input</i>@FarsiLanguage.FarsiLanguage._Login</a></li>

    </ul>
}
