@model General.Areas.Administrator.Models.CommisionOnArms

@{
    ViewBag.Title = "حذف حد کمسیون";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout-Admin.cshtml";
}


<h3 class="right-align">آیا از حذف این آیتم اطمینان دارید؟ </h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CAAmount)
        </dt>

        <dd class="right-align">
            @Html.DisplayFor(model => model.CAAmount)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default red" /> |
            @Html.ActionLink("بازگشت", "Index")
        </div>
    }
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery-1.11.0.min.js"></script>
<script src="~/Scripts/SweetAlert.js"></script>
<script src="~/Scripts/table2excel.js"></script>
<script src="~/Scripts/MyScripts/table2excel.js"></script>
<script>
    $(document).ready(function () {
    var str1 = '<li>@Html.ActionLink(FarsiLanguage.FarsiLanguage._AdministratorPage, "AdminsMainPage", "AdminGeneralpages", new { area = "Administrator" }, null)</li>';
     var str2 = '<li>@Html.ActionLink(FarsiLanguage.FarsiLanguage._CommisionOnArms, "delete", "CommisionOnArms", new { area = "Administrator" }, null)</li>';
     @*var str3 = '<li>@Html.ActionLink(FarsiLanguage.FarsiLanguage._InstallmenPaymentstAgreement, "CheckPayment", "Installments", new { area = "Administrator" }, null)</li>';*@
    $('.crumbs').append(str1);
    $('.crumbs').append(str2);
        //$('.crumbs').append(str3);

    });
</script>
