@model General.Models.ApplicationUser

@{
    ViewBag.Title = "حذف - مدیریت کاربران";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";

}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
        var str1 = '<li>@Html.ActionLink(FarsiLanguage.FarsiLanguage._ManageUserRoles, "Index", "UsersAdmin", new { area = "Administrator" }, null)</li>';
    var str2 = '<li>@Html.ActionLink(FarsiLanguage.FarsiLanguage._Delete, "Delete", "UsersAdmin", new { area = "Administrator" }, null)</li>';
    $('.crumbs').append(str1);
    $('.crumbs').append(str2);

    $(document).ready(function () {
        $('input#input_text, textarea#textarea2').characterCounter();
        $("Label").css("font-size", "15px");
        $("Label").css("color", "#000000");
    });

</script>
<h4>آیا از حذف این آیتم اطمینان دارید ؟</h4>
<div>
    <br />
    <br />
    <br />
    <hr class="alert-danger" />

    @Html.AntiForgeryToken()
    <fieldset style="margin-bottom:15px" dir="rtl">
        <legend>@FarsiLanguage.FarsiLanguage._Detail</legend>

        <div class="divider blue darken-4"></div>

        <div class="section">
            <div class="row">

                <div class=" col m3 s12 push-m9" style="font-size:18px;color:#244788">
                    <span> @Html.Label(@FarsiLanguage.FarsiLanguage._UserName) : </span>
                    @Html.DisplayFor(model => model.UserName, null, "")

                </div>
                <div class=" col m3 s12 push-m3" style="font-size:18px;color:#244788">
                    <span> @Html.Label(@FarsiLanguage.FarsiLanguage._FirstName) : </span>
                    @Html.DisplayFor(model => model.FirstName, null, "")

                </div>
                <div class=" col m3 s12 pull-m3" style="font-size:18px;color:#244788">
                    <span> @Html.Label(@FarsiLanguage.FarsiLanguage._LastName) : </span>
                    @Html.DisplayFor(model => model.LastName, null, "")

                </div>
                <div class=" col m3 s12 pull-m9" style="font-size:18px;color:#244788">
                    <span> @Html.Label(@FarsiLanguage.FarsiLanguage._FathersName) : </span>
                    @Html.DisplayFor(model => model.FathersName, null, "")

                </div>
            </div>
        </div>

        <div class="divider blue darken-4"></div>

        <div class="section">
            <div class="row">

                <div class=" col m6 s12 push-m6" style="font-size:18px;color:#244788">
                    <span> @Html.Label(@FarsiLanguage.FarsiLanguage._BirthCertificateId) : </span>
                    @Html.DisplayFor(model => model.BirthCertificateId, null, "")

                </div>
                <div class=" col m6 s12 pull-m6" style="font-size:18px;color:#244788">
                    <span> @Html.Label(@FarsiLanguage.FarsiLanguage._NationalCode) : </span>
                    @Html.DisplayFor(model => model.NationalCode, null, "")

                </div>

            </div>
        </div>

        <div class="divider blue darken-4"></div>

        <div class="section">
            <div class="row">

                <div class=" col m6 s12 push-m6" style="font-size:18px;color:#244788">
                    <span> @Html.Label(@FarsiLanguage.FarsiLanguage._EducationName) : </span>
                    @Html.DisplayFor(model => model.EName.EName, null, "")

                </div>
                <div class=" col m6 s12 pull-m6" style="font-size:18px;color:#244788">
                    <span> @Html.Label(@FarsiLanguage.FarsiLanguage._Sex) : </span>
                    @Html.DisplayFor(model => model.Sex, null, "")

                </div>
            </div>
        </div>
    </fieldset>
                    @using (Html.BeginForm())
            {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            <button class="btn btn-large waves-effect waves-light red darken-2" type="submit">
                                @FarsiLanguage.FarsiLanguage._Delete
                            <i class="material-icons left">delete</i>
                    </div>
                    }

</div>

                <div class="fixed-action-btn horizontal click-to-toggle">
                    <a class="btn-floating btn-large pulse red">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul>
                        <li><a href="@Url.Action("Index")" class="btn tooltipped btn-floating blue darken-1" data-position="top" data-delay="50" data-tooltip="لیست"><i class="material-icons">arrow_back</i></a></li>
                    </ul>
                </div>
