@model IEnumerable<General.Areas.Users.Models.Support>

@{
    ViewBag.Title = "لیست درخواست ها";
    Layout = "~/Areas/Users/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-striped text-center" dir="rtl" style="margin-top:15px">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.MarketingCode)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.SupportIssue)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.SupportDescription)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.MarketingCode)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.SupportIssue)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.SupportDescription)
            </td>
            <td class="text-center">
                <img src="~/Uploads/@item.Image" style="width:50px" />
            </td>
            <td class="text-center">
                <a href="@Url.Action("Details", new { id=item.SUId })" class="btn-floating tooltipped blue" data-position="right" data-delay="50" data-tooltip="جزئیات" blue"><i class="material-icons">dehaze</i></a> |
                <a href="@Url.Action("Edit", new { id=item.SUId })" class="btn-floating tooltipped yellow darken-2" data-position="top" data-delay="50" data-tooltip="ویرایش" blue"><i class="material-icons">edit</i></a>
                @*<a href="@Url.Action("Delete", new { id=item.SUId })" class="btn-floating tooltipped red" data-position="left" data-delay="50" data-tooltip="حذف" blue"><i class="material-icons">delete</i></a>*@
            </td>
        </tr>
    }

</table>
<div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large pulse blue">
        <i class="material-icons">menu</i>
    </a>
    <ul>
        <li><a href="@Url.Action("Index", "Home", new { area = "" })" class="btn tooltipped btn-floating blue darken-1" data-position="top" data-delay="50" data-tooltip="صفحه اصلی"><i class="material-icons">home</i></a></li>

        <li><a href="@Url.Action("create")" class="btn tooltipped btn-floating green darken-1" data-position="top" data-delay="50" data-tooltip="ایجاد"><i class="material-icons">create_new_folder</i></a></li>


    </ul>
</div>
<script src="//Code.jquery.com/jquery.min.js"></script>
<script type="text/javascript">
       var str1 = '<li>@Html.ActionLink(FarsiLanguage.FarsiLanguage._AdministratorPage, "AdminsMainPage", "AdminGeneralpages", new { area = "Administrator" }, null)</li>';
        var str2 = '<li>@Html.ActionLink(FarsiLanguage.FarsiLanguage._ArmsNum, "Create", "UsersArms", new { area = "Administrator" }, null)</li>';
        $('.crumbs').append(str1);
        $('.crumbs').append(str2);

</script>