@model IEnumerable<General.Areas.Users.Models.UsersWallet>

@{
    ViewBag.Title = "گزارش کل پورسانت های پرداختی";
    Layout = "~/Areas/Users/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />
@ViewBag.Sum
<div class="row col-md-12" style="margin-top:15px">
    <div class="col-md-12" style="margin-top:15px;margin-bottom:15px;border:1px dashed;border-radius:5px;padding-bottom:15px">
        <div class="row col-md-12" style="margin-top:15px;margin-right:1px">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <label class="control-label col-md-5 col-sm-5 col-xs-5" style="color:black;font-size:20px;margin-top:12px">از تاریخ</label>
                <div class="col-sm-6 col-md-6 col-xs-6" style="margin-top:10px">
                    @*<select class="form-control" id="Year">
                            <option></option>
                            @for (int y = 1397; y <= 1450; y++)
                            {
                                <option value="@y">@y</option>
                            }
                        </select>*@
                    <input type="text" id="FromDate" class="text-center" maxlength="10"/>

                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <label class="control-label col-md-5 col-sm-5 col-xs-5" style="color:black;font-size:20px;margin-top:12px">تا تاریخ</label>
                <div class="col-sm-6 col-md-6 col-xs-6" style="margin-top:10px">

                    <input type="text" id="ToDate" class="text-center" maxlength="10"/>

                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-xs-2">
                <a class="btn-floating btn-large waves-effect waves-light blue tooltipped" data-position="top" data-delay="50" data-tooltip="جستجو" id="Datesearch"><i class="material-icons">search</i></a>

            </div>

            <div class="col-sm-1 col-md-1 col-xs-1">
                <a class="btn-floating btn-large waves-effect waves-light green tooltipped" data-position="top" data-delay="50" data-tooltip="خروجی اکسل" id="exporttoexcel"><i class="material-icons">file_download</i></a>

            </div>
            <div class="col-sm-1 col-md-1 col-xs-1">
                <a class="btn-floating btn-large waves-effect waves-light purple tooltipped" data-position="top" data-delay="50" data-tooltip="ورود اطلاعات پرداخت" id="ShowData"><i class="material-icons">assessment</i></a>

            </div>
        </div>

    </div>
    <div class="row" style="margin-top:15px">

        <fieldset class="col-md-12" id="ImportData" style="display:none">
            <legend dir="rtl">ورود اطلاعات</legend>
            <div class="col-md-2 col-sm-5 col-xs-5" style="margin-top:10px">
                <label class="control-label col-md-6 col-sm-6 col-xs-6" style="color:black;font-size:12px;margin-top:5px">@FarsiLanguage.FarsiLanguage._ListCode</label>
                <div class="col-sm-6 col-md-6 col-xs-6">
                    <input type="text" id="ListCode" class="text-center" />
                </div>
            </div>
            <div class="col-md-2 col-sm-5 col-xs-5" style="margin-top:10px">
                <label class="control-label col-md-5 col-sm-5 col-xs-5" style="color:black;font-size:12px;margin-top:5px">@FarsiLanguage.FarsiLanguage._FolowUpNo</label>
                <div class="col-sm-7 col-md-7 col-xs-7">
                    <input type="text" id="FollowUpNO" class="text-center" />
                </div>
            </div>
            <div class="col-md-2 col-sm-5 col-xs-5" style="margin-top:10px">
                <label class="control-label col-md-5 col-sm-5 col-xs-5" style="color:black;font-size:12px;margin-top:5px">@FarsiLanguage.FarsiLanguage._DayPayment</label>
                <div class="col-sm-7 col-md-7 col-xs-7">
                    <input type="text" id="DayPeyment" class="text-center" value=@DateTime.Now.ToPeString("dd") />
                </div>
            </div>
            <div class="col-md-2 col-sm-5 col-xs-5" style="margin-top:10px">
                <label class="control-label col-md-5 col-sm-5 col-xs-5" style="color:black;font-size:12px;margin-top:5px">@FarsiLanguage.FarsiLanguage._MounthPayment</label>
                <div class="col-sm-7 col-md-7 col-xs-7">
                    <input type="text" id="MounthPeyment" class="text-center" value=@DateTime.Now.ToPeString("MM") />
                </div>
            </div>
            <div class="col-md-2 col-sm-5 col-xs-5" style="margin-top:10px">
                <label class="control-label col-md-5 col-sm-5 col-xs-5" style="color:black;font-size:12px;margin-top:5px">@FarsiLanguage.FarsiLanguage._YearPayment</label>
                <div class="col-sm-7 col-md-7 col-xs-7">
                    <input type="text" id="YearPeyment" class="text-center" value=@DateTime.Now.ToPeString("yy") />
                </div>
            </div>
            <div class="col-sm-1 col-md-1 col-xs-1">
                <a class="btn-floating btn-large waves-effect waves-light green darken-4 tooltipped" data-position="top" data-delay="50" data-tooltip="جستجو" id="Datasearch"><i class="material-icons">search</i></a>

            </div>
            <div class="col-sm-1 col-md-1 col-xs-1">
                <a class="btn-floating btn-large waves-effect waves-light blue darken-4 tooltipped" data-position="top" data-delay="50" data-tooltip="تایید پرداخت" id="SaveData" style="display:none"><i class="material-icons">save</i></a>

            </div>
        </fieldset>
    </div>

    <table class="table table-bordered table-striped table-hover table-responsive " dir="rtl" style="margin-top:15px;border-color:darkblue" id="Installmenttbl">
        <tr class="grey">
            <th class="text-center">
                @Html.DisplayNameFor(model => model.UWMarketingCode)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.UWFirstName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.UWLastName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.UWAcountNumber)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.UWCardNumber)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.UWShabaId)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.UWBranchCode)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.UWAmountDeposit)
            </th>

            @*<th class="text-center">
                    @Html.DisplayNameFor(model => model.UWAmountDeposit)
                </th>*@

            @*<th class="text-center">@FarsiLanguage.FarsiLanguage._Payment</th>*@
        </tr>
        @{
            var i = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center" id="MarketingCode_@i">
                    @Html.DisplayFor(modelItem => item.UWMarketingCode)
                </td>
                <td class="text-center" id="FirstName_@i">
                    @Html.DisplayFor(modelItem => item.UWFirstName)
                </td>
                <td class="text-center" id="LastName_@i">
                    @Html.DisplayFor(modelItem => item.UWLastName)
                </td>
                <td class="text-center" id="AccountNumber_@i">
                    @Html.DisplayFor(modelItem => item.UWAcountNumber)
                </td>
                <td class="text-center" id="CardNumber_@i">
                    @Html.DisplayFor(modelItem => item.UWCardNumber)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.UWShabaId)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.UWBranchCode)
                </td>
                <td class="text-center" id="UWAmountDeposit_@i">
                    @Html.DisplayFor(modelItem => item.UWAmountDeposit)
                </td>


                @*<td class="text-center">
                    @Html.ActionLink(FarsiLanguage.FarsiLanguage._ConfirmPayment, "ConfirmPayment", new { id = item.UWId }, new { @id = "paymentbtn" + i, @class = "paymentbtn" })*@

                @*</td>*@
            </tr>
            ++i;
        }


    </table>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/MyScripts/PlanFunc.js"></script>
<script src="~/Scripts/SweetAlert.js"></script>
<script>

    $(document).ready(function () {
       debugger
        //=========================================== محاسبه مجموعه سود هر نفر
        for (var j = 1; j < @i; j++) {
            //alert($("#MarketingCode_" + j).val().trim());
            GetSumCommisions($("#MarketingCode_" + j).text().trim());
            //GlobalSumCommisions.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
            //alert(GlobalSumCommisions);
                    //$('#UWAmountDeposit_' + j).text( $(this).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") ); 
            $('#UWAmountDeposit_' + j).text(GlobalSumCommisions)
             $('#UWAmountDeposit_' + j).text($('#UWAmountDeposit_' + j).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")); 
        }
        function ConvertToRial() {
            //alert( $('#UWAmountDeposit_' + j).text());
                    $.fn.digits = function(){ 
                return this.each(function(){ 
                    $('#UWAmountDeposit_' + j).text($('#UWAmountDeposit_' + j).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")); 
                })
                        alert(this);
            }
        }

         var str1 = '<li>@Html.ActionLink(FarsiLanguage.FarsiLanguage._AdministratorPage, "AdminsMainPage", "AdminGeneralpages", new { area = "Administrator" }, null)</li>';
        var str2 = '<li>@Html.ActionLink(FarsiLanguage.FarsiLanguage._AllWholeThingsPeyments, "AllWholeThingPeyments")</li>';
        $('.crumbs').append(str1);
        $('.crumbs').append(str2);
        $("#Datesearch").click(function () {
            $("#SaveData").show();
            $("#Datasearch").hide();
            $("#DayPeyment").val($("#DayPeyment").val().replace('/', ''))
            $("#MounthPeyment").val($("#MounthPeyment").val().replace('/', ''))
            $("#YearPeyment").val($("#YearPeyment").val().replace('/', ''))
            var FromDate = $("#FromDate").val().replace(/\//g, '');
            var ToDate = $("#ToDate").val().replace(/\//g, '');
             if (FromDate == "" || FromDate == null) {
                 swal("خطا!", "فیلد ها را تکمیل نمایید", "error");
                return false;
            }
            if (ToDate == "" || ToDate == null) {
               swal("خطا!", "فیلد ها را تکمیل نمایید", "error");
                return false;
            }
            debugger
            $("tr:not(tr:first)").remove();
            GetAllWhole(FromDate, ToDate);
            if (AllWholePaymentArray.length == 0) {
               swal("خطا!", "در این ماه اطلاعات  موجود نمی باشد", "error");
                return false;
            }
            //
            var counter = 0;
            var toCounter = 8;
            var Rows = AllWholePaymentArray.length / 9;
            for (var i = 1; i <= Rows; i++) {
                $("tr:last").after('<tr id=mk' + i + '>');

                while (counter < toCounter) {
                    $('#mk' + i).append('<td class="text-center" id="rowNum' + counter + '">' + AllWholePaymentArray[counter] + '</td>');
                    counter++;
                }
                toCounter = toCounter + 9;
                counter++;
                $('#mk' + i).after("</tr>");
            }
        });
        $("#exporttoexcel").on('click', function (e) {
            e.preventDefault();
            ResultsToTable();

        });
        function ResultsToTable() {
            $("#Installmenttbl").table2excel({
                exclude: ".noExl",
                name: "Results"
            });
        }
        $("#ShowData").click(function () {

            $("#ImportData").slideToggle(500);
            $("#DayPeyment").val($("#DayPeyment").val().replace('/', ''))
            $("#MounthPeyment").val($("#MounthPeyment").val().replace('/', ''))
            $("#YearPeyment").val($("#YearPeyment").val().replace('/', ''))
        });

        $("#Datasearch").click(function () {
            var ListCode = $("#ListCode").val();
         var FollowUpNO = $("#FollowUpNO").val();

            if ((FollowUpNO == "" || FollowUpNO == null) && (ListCode == "" || ListCode == null)) {
                alert("فیلد ها را تکمیل نمایید");
                return false;
            }

            $("tr:not(tr:first)").remove();
            GetAllWholeOnListCodeAndFolowUpNo(ListCode, FollowUpNO);
            if (AllWholePaymentOnListCodeArray.length == 0) {
                alert("اطلاعات  موجود نمی باشد");
                return false;
            }
             var counter2 = 0;
            var toCounter2 = 7;
            var Rows2 = AllWholePaymentOnListCodeArray.length / 8;
            for (var i = 1; i <= Rows2; i++) {
                $("tr:last").after('<tr id=mk' + i + '>');

                while (counter2 < toCounter2) {
                    $('#mk' + i).append('<td class="text-center" id="rowNum' + counter2 + '">' + AllWholePaymentOnListCodeArray[counter2] + '</td>');
                    counter2++;
                }
                toCounter2 = toCounter2 + 8;

                // alert(counter);
                $('#rowNum' + (counter2 - 1)).after('<td class="text-center" id= "rowNum' + counter2 + '" ><a href="~/Administrator/Installments/ConfirmPayment?type=1?documenttypeid=' + AllWholePaymentOnListCodeArray[counter2] + '">تایید پرداخت</a></td>');
                counter2++;
                $('#mk' + i).after("</tr>");
            }
        });
        $("#SaveData").click(function () {

              if (FollowUpNO == "" || FollowUpNO == null) {
                alert("فیلد ها را تکمیل نمایید");
                return false;
            }
              if (ListCode == "" || ListCode == null) {
                alert("فیلد ها را تکمیل نمایید");
                return false;
            }
            ////
            var length = AllWholePaymentArray.length / 6;
            var AllWholePaymentArrayLocal = [];
            //    alert(AllWholePaymentArray);
            //alert(AllWholePaymentArray.length);

            var a = 0;
            var b = 11;
            var c = 10;
            for (var i = 0; i < length; i++) {
                for (var j = a; j < b; j++) {

                    if (j < c) {
                     AllWholePaymentArrayLocal.push(AllWholePaymentArray[j])

                    }
                    if (j == c) {
                    AllWholePaymentArrayLocal.push($("#ListCode").val())
                    AllWholePaymentArrayLocal.push($("#FollowUpNO").val())
                    AllWholePaymentArrayLocal.push($("#DayPeyment").val())
                    AllWholePaymentArrayLocal.push($("#MounthPeyment").val())
                    AllWholePaymentArrayLocal.push($("#YearPeyment").val())

                    }
                }
                 UpdateAllWholePayment(AllWholePaymentArrayLocal)

                a += 10;
                b += 11;
                c += 10;
                //============================================ Clear Array
                AllWholePaymentArrayLocal = [];
            }
            alert("کد لیست و شماره پیگیری افزوده شد");
                location.reload();

                //UpdateAllWholePayment(AllWholePaymentArray[i]);

        });

    });
</script>

