@model General.Areas.Users.Models.UsersWallet

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UsersWallet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UWMarketingCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UWMarketingCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UWDayDeposit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UWDayDeposit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UWMonthDeposit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UWMonthDeposit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UWYearDeposit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UWYearDeposit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UWAmountDeposit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UWAmountDeposit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UWId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
